$boneWhite: #f1f6f9;
$darkBlue: #14274e;
$blueGrey: #394867;
$lightGrey: #9ba4b4;
$white: #fff;
$black: #000;
@mixin menuList($width, $padding: 0){
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: $padding;
    width: $width;
}
@mixin menuListElement() {
    color: $boneWhite;
    text-decoration: none;
}
body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
.header{
    background-color: $darkBlue;
    color: $boneWhite;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    img{
        margin: 10px 0px 10px 5px;
        height: 50px;
        padding: 8px;
        border: $white solid 3px;
        border-radius: 50%;
    }
    h2{
        margin: 10px 0px 10px 15px;
        font-size: 32px;
        justify-self: left;
        font-weight: bold;
    }
    .header__menu{ 
        margin: 10px 0px 10px 35px;
        @include menuList(60%);
        #home{
            text-decoration: underline;
        }
        a{
            @include menuListElement();
            font-size: 20px;
            .header__menu--element{
                padding: 5px 5vw;
                border-radius: 25px;
            }
        }
        a:hover{
            font-weight: bold;
            color: $darkBlue;
            .header__menu--element{
                background-color: $boneWhite;
            }
        }
    }
}
.main{
    background-image: url("https://imgur.com/ydjjnxU.jpg");
    background-size: 60%;
    position: relative;
    z-index: 1;
    height: 75vh;
    .main__layer{
        background-color: rgba($color: $darkBlue, $alpha: 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .main__layer--button{
            background-color: $boneWhite;
            color: $darkBlue;
            outline: none;
            border: none;
            font-family: 'nunito', sans-serif;
            font-size: 26px;
            padding: 10px 50px;
            border-radius: 10px;
            margin-bottom: 50px;
            font-weight: bold;
            box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.75);
            cursor: pointer;
        }
        .main__layer--button:hover{
            background-color: $darkBlue;
            color: $boneWhite;
            font-weight: bolder;
            padding: 15px 55px;
            margin-bottom: 47.5;
        }
    }
}
.info{
    background-color: $blueGrey;
    color: $white;
    .info__parrafo{
        display: grid;
        grid-template-columns: 2.5% 43.75% 5% 43.75% 5%;
        grid-template-rows: 15px 150px 25px 150px 25px;
        .info__parrafo--match{
            background-color: $lightGrey;
            padding: 5px 0px 0px 5px;
            border-radius: 25px;
            box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.75);
        }
        #info__parrafo--1{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            display: flex;
        }
        #info__parrafo--2{
            grid-column:  4 / 5;
            grid-row: 2 / 3;
            display: flex;
        }
        #info__parrafo--3{
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            display: flex;
        }
        #info__parrafo--4{
            grid-column: 4 / 5;
            grid-row: 4 / 5;
            display: flex;
        }
        .info__parrafo--p{
            margin: 0px 0px 0px 8px;
            padding: 10px 0px;
        }
        .info__parrafo--img{
            width: 60px;
            height: 60px;
        }
    }
}
.footer{
    background-color: $lightGrey;
    padding: 10px 0px;
    .footer__list{
        @include menuList(95%, 30px);
        margin: 0;
        a{
            @include menuListElement();
        }
        a:hover{
          text-decoration: underline;
          font-weight: bold;  
        }
    }
}