body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.header {
  background-color: #14274e;
  color: #f1f6f9;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: left;
}
.header img {
  margin: 10px 0px 10px 5px;
  height: 50px;
  padding: 8px;
  border: #fff solid 3px;
  border-radius: 50%;
}
.header h2 {
  margin: 10px 0px 10px 15px;
  font-size: 32px;
  justify-self: left;
  font-weight: bold;
}
.header .header__menu {
  margin: 10px 0px 10px 35px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 60%;
}
.header .header__menu #home {
  text-decoration: underline;
}
.header .header__menu a {
  color: #f1f6f9;
  text-decoration: none;
  font-size: 20px;
}
.header .header__menu a .header__menu--element {
  padding: 5px 4.5vw;
  border-radius: 25px;
}
.header .header__menu a:hover {
  font-weight: bold;
  color: #14274e;
}
.header .header__menu a:hover .header__menu--element {
  background-color: #f1f6f9;
}

.main {
  background-image: url("https://imgur.com/aPMml8N.jpg");
  background-size: 60%;
  position: relative;
  z-index: 1;
  height: 75vh;
}
.main .main__layer {
  background-color: rgba(20, 39, 78, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.main .main__layer .main__layer--button {
  background-color: #f1f6f9;
  color: #14274e;
  outline: none;
  border: none;
  font-family: "nunito", sans-serif;
  font-size: 26px;
  padding: 10px 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  font-weight: bold;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.main .main__layer .main__layer--button:hover {
  background-color: #14274e;
  color: #f1f6f9;
  font-weight: bolder;
  padding: 15px 55px;
  margin-bottom: 47.5;
}

.info {
  background-color: #394867;
  color: #fff;
}
.info .info__parrafo {
  display: grid;
  grid-template-columns: 2.5% 43.75% 5% 43.75% 5%;
  grid-template-rows: 15px 150px 50px;
}
.info .info__parrafo .info__parrafo--match {
  background-color: #9ba4b4;
  padding: 5px 0px 0px 5px;
  border-radius: 25px;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.75);
}
.info .info__parrafo #info__parrafo--1 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
}
.info .info__parrafo #info__parrafo--2 {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
}
.info .info__parrafo #info__parrafo--3 {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
}
.info .info__parrafo #info__parrafo--4 {
  grid-column: 4/5;
  grid-row: 4/5;
  display: flex;
}
.info .info__parrafo .info__parrafo--p {
  margin: 0px 15px 0px 8px;
  padding: 10px 0px;
  text-align: justify;
}
.info .info__parrafo .info__parrafo--img {
  width: 60px;
  height: 60px;
}

.footer {
  background-color: #9ba4b4;
  padding: 10px 0px;
}
.footer .footer__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  width: 95%;
  margin: 0;
}
.footer .footer__list a {
  color: #f1f6f9;
  text-decoration: none;
}
.footer .footer__list a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
