$boneWhite: #f1f6f9;
$darkBlue: #14274e;
$blueGrey: #394867;
$lightGrey: #9ba4b4;
$white: #fff;
$black: #000;
@mixin menuList($width, $padding: 0){
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: $padding;
    width: $width;
}
@mixin menuListElement() {
    color: $boneWhite;
    text-decoration: none;
}
body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: $white;
}
.header{
    background-color: $darkBlue;
    color: $boneWhite;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    img{
        margin: 10px 0px 10px 5px;
        height: 50px;
        padding: 8px;
        border: $white solid 3px;
        border-radius: 50%;
    }
    h2{
        margin: 10px 0px 10px 15px;
        font-size: 32px;
        justify-self: left;
        font-weight: bold;
    }
    .header__menu{ 
        margin: 10px 0px 10px 35px;
        @include menuList(60%);
        a{
            @include menuListElement();
            font-size: 20px;
            .header__menu--element{
                padding: 5px 4.5vw;
                border-radius: 25px;
            }
        }
        a:hover{
            font-weight: bold;
            color: $darkBlue;
            .header__menu--element{
                background-color: $boneWhite;
            }
        }
    }
}
.sideMenu{
    background-color: rgba($color: $blueGrey, $alpha: 0.85);
    width: 25%;
    height: 84.28vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .sideMenu__label{
        margin: 5px 0px;
        font-size: 18px;
        font-weight: bold;
        color: white
    }
    .sideMenu__select{
        margin: 5px 0px;
        width: 75%;
        padding: 10px 0px;
        border-radius: 25px;
        background-color: rgba($color: white, $alpha: 0.95);
        text-align-last: center;
        font-size: 16px; 
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    .sideMenu__select:hover{
        cursor: pointer;
        font-weight: bold;
    }
    .sideMenu__button{
        margin: 10px 0px;
        padding: 10px 20px;
        border-radius: 25px;
        background-color: $boneWhite;
        color: black;
        border: none;
        box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.45);;
    }
    .sideMenu__button:hover{
        cursor: pointer;
    }
}
